*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px ;
}

img{
    height: 500px;
}

button{
    background-color:rgb(0, 183, 255);
    padding: 20px 50px;
    border: none;
    border-radius: 40px;
    font-size: 35px;
    cursor: pointer;
}
button:active{
    scale: 0.95;
}