*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}
 body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
 }
#container{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 300px;
    border-radius: 10px;
    /* box-shadow: 2px 10px 10px rgb(255, 255, 255); */
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container:hover{
    box-shadow: 2px 10px 10px aquamarine;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 10px;
}

#container i{
    color: rgb(219, 20, 20);
    font-size: 90px;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
    scale: 0;
}