*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

  html,body{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: cornflowerblue;
}

h4{
  font-size: 80px;
}

h1{
  font-size: 100px;
  border: 4px solid wheat;
  background-color: white;
  padding: 20px 40px;
}

button{
  font-size: 30px;
  border:2px solid;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  background-color : white;
  /* transform: 0.1s; */
}

button:active{
  transform: scale(0.95);
}

